@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background: url("/images/pattern-curve.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: auto 10%;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: var(--dark-blue);
}

.container {
  margin: auto;
  display: flex;
  max-width: 768px;
  min-width: 375px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-first {
  background-color: transparent;
}

.card-second {
  display: none;
}

.card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: url("/images/pattern-bg.svg");
  background-position: left 50% top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 2rem;
}

.card__image img {
  display: block;
  width: 70%;
  height: auto;
  object-fit: cover;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15);
}

nav {
  position: relative;
  top: -3.3rem;
  left: 0;
}

nav button {
  padding: 0.7rem 1rem;
  background-color: white;
  border: 0 solid transparent;
  height: 100%;
}

nav button:hover {
  background-color: var(--grayish-blue);
}

.prev {
  border-radius: 2rem 0 0 2rem;
}

.next {
  border-radius: 0 2rem 2rem 0;
}

.card__quote {
  background: url("/images/pattern-quotes.svg") left 50% top no-repeat;
  background-size: 4rem auto;
  margin-top: 2rem;
  max-width: 80%;
  min-width: 300px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
}

.card__author {
  font-weight: 700;
  font-size: 1.2rem;
}

.card__author-position {
  color: var(--grayish-blue);
  font-weight: 500;
}

@media screen and(min-width: 768px) {
}
